.profile-container {
  max-width: 600px;
  color: #f8fafc;
  text-align: center;
}

.profile-image {
  width: 120px;
  border-radius: 60px;
}

.profile-stats,
.profile-details {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  gap: 16px;
}
